# Fichiers d'environnement
.env
.env.local
.env.*.local

# Dépendances
node_modules/

# Fichiers de build
dist/
build/

# Fichiers de logs
*.log
npm-debug.log*

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'éditeur
.vscode/
.idea/
*.swp
*.swo

# Fichiers de logs
*.log 